<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do</title>
    <link rel="stylesheet" type="" href="css/styles.css">
</head>

<body>
    <div class="box" id="heading">
        <h1> <%= listType %>  </h1>
    </div>

    <%# comment in ejs %>
    <div class="box">
        <% for(let i = 0;i<items.length;i++){ %>
        <div class="item">
            <input type="checkbox">
            <p> <%= items[i] %> </p>
        </div>
        <% } %>

        <form action="/" class="item" method="post">
            <input type="text" name="inpt" placeholder="New Item">
            <button type="submit" name="submit" value= <%= %>>+</button>
        </form>

    </div>



</body>

</html>